
@import (reference) "~@less-helpers-module/_variables";
@import (reference) "~@less-helpers-module/_mixins.less";

.footer {
  &:extend(.page-prop);
  text-align: center;
  color: #7a7a7a;
  background-color: #181818;
}
